{% extends 'base.html' %}
{% block title %}
    Important Dates
{% endblock title %}
{% block stylesheet %}
    <link href="/media/css/dates.css" rel="stylesheet">
{% endblock stylesheet %}
{% block after_navbar %}

{% endblock after_navbar %}
{% block content %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Important Dates</h1>
        </div>
        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Academic Schedule</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
          <tr>
            <td>Jan 4, 2017 ~ May 17, 2017</td>
            <td>Application Period</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        document.getElementById("nav-contact").setAttribute("class", "active");
    </script>
{% endblock script %}