{% extends 'base.html' %}
{% block title %}
    Important Dates
{% endblock title %}
{% block stylesheet %}
    <link href="/media/css/dates.css" rel="stylesheet">
{% endblock stylesheet %}
{% block after_navbar %}

{% endblock after_navbar %}
{% block content %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Important Dates</h1>
        </div>
        <table class="table">
        <thead>
            <tr>
                <th>Academic Schedule</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Online Application Begins</td>
            <td>January 2, 2017</td>
          </tr>
          <tr>
            <td>Early Bird Application Deadline (-200,000 KRW)</td>
            <td>January 31, 2017</td>
          </tr>
          <tr>
            <td>Regular Application Deadline (Track 1)</td>
            <td>May 12, 2017</td>
          </tr>
          <tr>
            <td>Regular Application Deadline (Track 2)</td>
            <td>April 7, 2017</td>
          </tr>
          <tr>
            <td>Dormitory Move-in Day</td>
            <td>June 28 - 30, 2017</td>
          </tr>
          <tr>
            <td>Orientation</td>
            <td>June 30, 2017</td>
          </tr>
          <tr>
            <td>Beginning of Classes</td>
            <td>July 3, 2017</td>
          </tr>
          <tr>
            <td>Cultural & Industry Field Trip</td>
            <td>July 14-15, 2017</td>
          </tr>
          <tr>
            <td>Day Tour (Mud Festival) – optional</td>
            <td>July 22, 2017</td>
          </tr>
          <tr>
            <td>End of Classes</td>
            <td>July 28, 2017</td>
          </tr>
          <tr>
            <td>Dormitory Move-out Day</td>
            <td>July 28 - August 1, 2017</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        document.getElementById("nav-registration").setAttribute("class", "active");
    </script>
{% endblock script %}